<div class="sidebar" id="sidebar">
	<div class="dashboard">
		<!-- Button trigger modal -->
		<a id="dashboard" href="/authority">
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Dashboard -->
			<i class="fa-solid fa-table-list"></i>&nbsp;&nbsp;Dashboard
		</a>
	</div>
	<div class="department">
		<!-- Button trigger modal -->
		<a id="subjectAnalysis" href="/authority/subjectAnalysis">
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Departments -->
			<i class="fa-solid fa-building"></i>&nbsp;&nbsp;Subject Analysis
		</a>
	</div>
	<!-- <div class="department"> -->
		<!-- Button trigger modal -->
		<!-- <a id="scoreAnalysis" href="/authority/scoreAnalysis"> -->
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Departments -->
			<!-- <i class="fa-solid fa-building"></i>&nbsp;&nbsp;Score Analysis -->
		<!-- </a> -->
	<!-- </div> -->
	<div class="department">
		<!-- Button trigger modal -->
		<a id="leaderboard" href="/authority/leaderboard">
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Departments -->
			<i class="fa-solid fa-building"></i>&nbsp;&nbsp;Leaderboard
		</a>
	</div>

	<div class="subject">
		<a id="quizzes" href="/authority/quizzes">
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Subjects -->
			<i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Quizzes
		</a>
	</div>
	<div class="student">
		<a id="certficates" href="/authority/certificates">
			<!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Students -->
			<i class="fa-solid fa-users"></i>&nbsp;&nbsp;Certificates
		</a>
	</div>
	<div class="logout">
		<a id="logout" href="/logout">
		  <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Subjects -->
		  <i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Logout
		</a>
	  </div>
</div>
<script src="/scripts/authoritySidebar.js"></script>