<div class="sidebar" id="sidebar">
  <div class="dashboard">
    <!-- Button trigger modal -->
    <a id="dashboard" href="/coordinator">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Dashboard -->
      <i class="fa-solid fa-table-list"></i>&nbsp;&nbsp;Dashboard
    </a>
  </div>
  <div class="createQuiz">
    <!-- Button trigger modal -->
    <a id="addQuiz" href="/coordinator/addQuiz/setQuiz">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Departments -->
      <i class="fa-regular fa-calendar-plus"></i>&nbsp;&nbsp;Create Quiz
    </a>
  </div>
  <div class="myQuiz">
    <a id="myQuiz" href="/coordinator/myQuiz">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;coordinators -->
      <i class="fa-regular fa-lg fa-file-zipper"></i>&nbsp;&nbsp;My Quiz
    </a>
  </div>
  <div class="allQuiz">
    <a id="allQuiz" href="/coordinator/allQuiz">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;coordinators -->
      <i class="fa-solid fa-database"></i>&nbsp;&nbsp;All Quiz
    </a>
  </div>

  <div class="questions">
    <a id="questions" href="/coordinator/questions">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Students -->
      <i class="fa-solid fa-file-circle-question"></i>&nbsp;&nbsp;Questions
    </a>
  </div>
  <div class="workers">
    <a id="workers" href="/coordinator/workers">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Students -->
      <i class="fa-solid fa-users"></i>&nbsp;&nbsp;Workers
    </a>
  </div>
  <div class="subject">
    <a id="subjects" href="/coordinator/subjects">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Subjects -->
      <i class="fa-solid fa-book-open"></i>&nbsp;&nbsp;Subjects
    </a>
  </div>
  <div class="logout" >
    <a id="subjects" href="/logout">
      <!-- <i class="fa-regular fa-square-plus"></i>&nbsp;&nbsp;Subjects -->
      <i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Logout
    </a>
  </div>
</div>
<script src="/scripts/coordinatorSidebar.js"></script>